.select {
  height: 40px !important;
}
.textArea {
  height: initial !important;
  padding: 8px;
  outline: none;
}
.formControl {
  display: flex !important;
  gap: 10px;
}
.radioBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 0;
}
.label {
  font-size: 12px;
  color: var(--black);
}
.inputBox {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 12px;
  padding: 8px;
  outline: none;
  height: 35px !important;
}
.primary {
  // box-shadow: 0px 2px 2px 0px #00000040;
  background-color: #eff2f7;
  height: 40px !important;
}
.white {
  background-color: var(--white);
}
.activeBtn {
  background-color: var(--white) !important;
}
.phoneInput {
  border: none !important;
  width: 400px;
}
